@charset "utf-8";
/* CSS Document */


/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Regular;
  src: url("../fonts/DINWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Regular;
  src: url("../fonts/DINWeb.woff") format("woff");
}

/*********/

/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Medium;
  src: url("../fonts/DINWeb-Medium.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Medium;
  src: url("../fonts/DINWeb-Medium.woff") format("woff");
}

/*********/
/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.woff") format("woff");
}

/*********/

/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.woff") format("woff");
}


/*********/

/* DINWeb-Regular font definitions */
.DINWebRegular { 
  font-family: DINWeb-Regular;
}
/* DINWeb-Medium font definitions */
.DINWebMedium { 
  font-family: DINWeb-Medium;
}
/* DINWeb-Light font definitions */
.DINWebLight { 
  font-family: DINWeb-Light;
}
/* DINWeb-Bold font definitions */
.DINWebBold { 
  font-family: DINWeb-Bold;
}